/*
Simple Bookmark app.
*/
body{
  background-color: #FFE0B2;

}
ul.bookmarks {
  list-style: none;
}

ul.bookmarks li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

ul.bookmarks a {
  margin-right: 10px;
}
.color1{
  color: #F44336;
  background-color: #3F51B5;
}
.color2{
  color: #F44336;
}

.bookmarks em {
  color: #666;
  font-size: 11px;
}

.icon-trash {
  color: #c6c6c6;
  cursor: pointer;
}

.icon-trash:hover {
  color: #666;
}
