<html lang="en" ng-app="BookmarkApp">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple Bookmark Application">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/node_modules/foundation-sites/dist/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="bookmark.css">
</head>

<body ng-controller="appCtrl">
 
  <div class="callout color1">
    <h3><b><center>Bookmark App</center></b></h3>  
  </div>
 
  <div class="row">

    <div class="large-6 columns">
      <div class="callout">    
          <h4 class="color2">Add Bookmark</h4>
        <input type="text" placeholder="Site Name" ng-model="site_name" />
        <input type="text" placeholder="URL" ng-model="site_url" />
        <input type="text" placeholder="Category" ng-model="site_category" />
        <button class="success button" ng-click="addBookmark()">Add Bookmark</button>  
      </div>
    </div>

    <div class="large-6 columns callout">
      <div >
        <input type="text" placeholder="Search Bookmarks" ng-model="search" />
      </div>      
      <ul class="bookmarks">
        <li ng-repeat="site in bookmarks | filter: search">
          <a href="{{ site.url }}">{{ site.title }}</a>
          <span class="label primary"> {{site.category}}</span>
          <i class="right icon-trash" ng-click="deleteBookmark($index)"></i>
        </li>
      </ul>
    </div>

  </div>

  <footer>
    <h5><b><center>By Arvind iyer </center></b></h5>  
  </footer>

  <script src="/node_modules/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>